# dependencies
**/node_modules/

# env / secrets
**/.env
**/.env.*
!**/.env.example

# logs
**/*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# build output
**/dist/
**/build/
**/coverage/

# Drizzle
**/drizzle/meta/

# Local HTTPS certs (if you generated any)
**/certs/*.pem