# dependencies
node_modules/

# env / secrets
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# build output (if you add bundlers later)
dist/
build/
coverage/

# Drizzle / DB
drizzle/meta/

# Local HTTPS certs (like your Express certs)
**/certs/*.pem